

.show {
    display: block !important;
}
.modal {
    background: rgba(0, 0, 0, 0.5);
    overflow: scroll !important;
}

.entry-list dt {
    display: inline-block;
}
.entry-list dd {
    display: inline-block;
    margin-right: 1em;
}
.entry-list dt:after {
    content: ":";
}
